body {
    font-family: 'Lato', sans-serif;
    background-image: url("/static/images/background_pilatesclub.jpg");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffff;
}

h1, h2 {
    font-family: 'Libre Baskerville', serif;
    color: #552A1B;
}

h1 {
    margin-bottom: 40px;
}

table {
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #552A1B;
    border-color: #552A1B;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #552A1B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ffff;
    color: #552A1B;
}

.form-group:last-child {
    margin-left: 0;
 }