<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- LINK TO CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Add A Booking</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul>
                <li>Content bookings</li>
                <li>Content add bookings</li>
            </ul>
            
        </nav>
        <h1 class="my-4">Book your workout</h1>

        <form method="POST" action="{% url 'add_booking' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.date.label_tag }} {{ form.date }}
            </div>
            <div class="mb-3">
                {{ form.time.label_tag }} {{ form.time }}
            </div>
            <div class="mb-3">
                {{ form.instructor.label_tag }} {{ form.instructor }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }} {{ form.description }}
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Add Booking</button>
            </div>
        </form>
    </div>
</body>

</html>