<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book your workout</h1>
    
  
    
   
<form method="POST" action="add">
    <div>
        <p>
            <label for = "id_date">Date:</label>
            <input type="date" id="id_date" name="date" />
        </p>
    </div>
    <div>
        <p>
            <label for = "id_time">Time:</label>
            <input type="time" id="id_time" name="time" />
        </p>
    </div>
    <div>
        <p>
            <label for = "id_instructor">Instructor:</label>
            <input type="text" id="id_instructor" name="instructor" />
        </p>
    </div>
    <div>
        <p>
            <label for = "id_description">Description:</label>
            <textarea id="id_description" name="description"></textarea>
        </p>
    </div>
    <div>
        <p>
            <button type="submit">Add </button>
</html>