<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- LINK TO CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Add A Booking</title>
</head>

<body>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul>
              <li>Content bookings</li>
              <li>Content add bookings</li>
          </ul>
      </nav>
      
      <h1>Available Workouts</h1>
      <p>Choose from one of our four different types of Pilates classes:</p>
      <ul>
          <li>Mat Pilates - a basic Pilates class that focuses on the fundamentals and building core strength</li>
          <li>Reformer Pilates - a more advanced class that uses a machine called a reformer to add resistance and intensity to the exercises</li>
          <li>Barre Pilates - a hybrid class that combines Pilates with ballet-inspired movements at a barre</li>
          <li>Power Pilates - a high-energy class that incorporates cardio and strength training into the traditional Pilates moves</li>
      </ul>
      
      <h1>Pilates Club Booking Site</h1>
      <form method="POST">
          {% csrf_token %}
          <div>
              <label for="date">Date:</label>
              <input type="date" name="date" required>
          </div>
          <div>
              <label for="time">Time:</label>
                  <select name="time" required>
                    <option value="" selected disabled>Select a time</option>
                    {% for time_slot in available_time_slots %}
                        <option value="{{ time_slot.time }}">{{ time_slot.time|time:'H:i' }}</option>
                    {% endfor %}
              </select>
          </div>
          <div>
              <label for="instructor">Instructor:</label>
              <select name="instructor" required>
                  <option value="" selected disabled>Select an instructor</option>
                  {% for instructor in instructors %}
                      <option value="{{ instructor.pk }}">{{ instructor.name }} - {{ instructor.specialization }}</option>
                  {% endfor %}
              </select>
          </div>
          <div>
              <label for="workout_type">Workout Type:</label>
              <select name="workout_type" required>
                  <option value="" selected disabled>Select a workout type</option>
                  {% for value, label in form.workout_type.field.choices %}
                      <option value="{{ value }}">{{ label }}</option>
                  {% endfor %}
              </select>
          </div>
          <button type="submit">Book Now</button>
      </form>
  </div>
</body>
</html>